.section-left{
    grid-column-start: 3 !important; 
    grid-column-end: 9 !important; 
   
}
.post-title{
   margin : 0 10px;
}
.date-post{
    color : rgb(68, 64, 64);
   
}
.date-post i{
    margin-right: 5px;
}

@media screen and (max-width : 1100px){

    .section-right{
        display: none ;
    }
   
 }
  